@use '../abstracts/colors' as *;

.contactContainer {
	padding: 0 4rem;
	display: flex;
	justify-content: space-between;

	.contacts {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: start;
		h2 {
			display: inline;
			border-bottom: 2px solid $primaryMain;
		}
		p {
			padding: 1rem 0;
		}
	}

	.collaborateForm {
		width: 40%;
		display: flex;
		flex-direction: column;
	}

	.nameField,
	.mailField,
	.textField {
		outline: none;
		border: none;
		margin: .1rem 0;
		padding: .5rem;
		background: $primaryFont;
	}

	.textField {
		min-height: 200px;
		resize: none;
	}

	button {
		margin: 1rem auto;
		padding: 1rem;
		background: transparent;
		border: 2px solid $primaryFont;
		color: $primaryFont;
		cursor: pointer;
		transition: all .3s ease;
	}
	button:hover {
			border: 2px solid $primaryMain;
			color: $primaryMain;
	}
}


@media (max-width: 1200px) {
	.contactContainer {
		padding: 0 2rem;
		.collaborateForm {
			width: 50%;
		}
	}
}

@media (max-width: 800px) {
	.contactContainer {
		padding: 0;
		flex-direction: column-reverse;

		.collaborateForm,
		.contacts {
			width: 100%;
			margin-bottom: 1rem;
		}

		.contacts {
			border-top: 1px solid $primaryMain;
			padding-top: 1rem;
		}
	}
}